h1 {
text-align: center;color: purple;font-size: 1cm;font-style: italic;
}
body{
    background-color:palevioletred;
}
h2{
    text-align: center;color: khaki;font-size: 2cm;
}
h3{
    text-align: center;color:green; font-size: 2cm;
}
div{
    text-align: center;
}