h1{
    text-align: center;
}
div{
    text-align: center;
}
body{
    background-color:rgb(147, 243, 57);
}
    h1 {
        text-align: center;color: rgb(211, 83, 162);font-size: 1cm;font-style: italic;
        }