h1{
    text-align: center;
}
div{
    text-align: center;
}
body{
    background-color:rgb(250, 2, 2);
}
    h1 {
        text-align: center;color: rgb(204, 31, 219);font-size: 1cm;font-style: italic;
        }