h1{
    text-align: center;
}
div{
    text-align: center;
}
body{
    background-color:grey;
}
    h1 {
        text-align: center;color: rgb(226, 150, 49);font-size: 1cm;font-style: italic;
        }